*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart{
    display: flex;
    background-color: #5CA7A3;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10 px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid{
    color: #A18262;
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #A18262;
    color: white;
}

h2{
    font-family: 'Lora', serif;
}

h5{
    font-family: 'Lora', serif;
}

p{
    font-family: 'Quicksand', sans-serif;
}

table{
    margin-left: auto; margin-right: auto;
}

#mundo:before{
    content: "🌎";
}

#paginas:before{
    content: "🗐";
}

#fecha:before{
    content: "🗓";
}


td{
    padding: 8px 15px;
   
}

.izquierdo{
    text-align: left;
    font-weight: bolder;
}

.derecho{
    text-align: right;
}

.justificar{
    text-align: justify;
}
