.navbar {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-nav{
    display: flex;
    justify-content: center;

}

#menucolap {
    display: flex;
    justify-content: center;

}
